<div class="footer">
    <div class="link-section">
        <div class="title">
            {{!-- 关于我们 --}}
            {{menuAbout.title}}
        </div>
        <div class="devide"></div>
        {{#forEach menuAbout.subMenu}}
        <div class="link">
            <a href="{{url}}">{{name}}</a>
        </div>
        {{/forEach}}
    </div>
    <div class="link-section">
        <div class="title">
            {{!-- 产品 --}}
            {{menuProduct.title}}
        </div>
        <div class="devide"></div>
        {{#forEach menuProduct.subMenu}}
        <div class="link">
            <a href="{{url}}">{{name}}</a>
        </div>
        {{/forEach}}
    </div>
    <div class="link-section">
        <div class="title">
            {{!-- SHOW --}}
            {{menuShow.title}}
        </div>
        <div class="devide"></div>
        {{#forEach menuShow.subMenu}}
        <div class="link">
            <a href="{{url}}">{{name}}</a>
        </div>
        {{/forEach}}
    </div>
    <div class="link-section">
        <div class="title">
            {{!-- 服务 --}}
            {{menuService.title}}
        </div>
        <div class="devide"></div>
        {{#forEach menuService.subMenu}}
        <div class="link">
            <a href="{{url}}">{{name}}</a>
        </div>
        {{/forEach}}
    </div>
    <div class="link-section">
        <div class="title">
            {{!-- 联络 --}}
            {{menuContact.title}}
        </div>
        <div class="devide"></div>
        {{#forEach menuContact.subMenu}}
        <div class="link">
            <a href="{{url}}">{{name}}</a>
        </div>
        {{/forEach}}
    </div>
    <div class="contact-section">
        <div class="qr-code"></div>
        <div class="external">
            <div class="link">
                <a href="http://weibo.com/u/3791710857?pids=Pl_Official_MyProfileFeed__24&profile_ftype=1&is_all=1" target="_blank">
                    <i class="iconfont icon-weibo"></i>
                </a>
            </div>
        </div>
    </div>
</div>
