<div class="index">
    <!-- Swiper -->
    <div class="banner-container">
        <div class="swiper-wrapper">
            {{#forEach bannerPics}}
                <div class="swiper-slide" style="background-size: 100% 100%;background-image:url({{ ../root }}/{{ path }})"></div>
            {{/forEach}}
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination swiper-pagination-white"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next swiper-button-white"></div>
        <div class="swiper-button-prev swiper-button-white"></div>
    </div>
    <div class="product-wrapper">
        {{#forEach productList}}
            {{#if isFirst}}
            <div class="thumb {{typeName}}">
            {{else}}
            <div class="thumb {{typeName}}" style="display:none">
            {{/if}}
                <div class="cover" style="background-image: url({{ ../root }}/{{imgUrl}})"></div>
                <div class="category-wrapper">
                    <div class="category">
                        <ul>
                            {{#forEach ../productList}}
                                {{#if isFirst}}
                                    <li class="cat-item active" data-cat="{{typeName}}">
                                        <a href="javascript:void(0);" onClick="changeType('{{typeName}}')">{{typeName}}</a>
                                    </li>
                                {{else}}
                                    <li class="cat-item" data-cat="{{typeName}}">/
                                        <a href="javascript:void(0);" onClick="changeType('{{typeName}}')">{{typeName}}</a>
                                    </li>
                                {{/if}}
                            {{/forEach}}
                        </ul>
                    </div>
                </div>

            </div>
            <div class="carousel-wrapper">
                {{#if isFirst}}
                <div class="carousel {{typeName}}">
                {{else}}
                <div class="carousel {{typeName}} hack">
                {{/if}}
                    <!-- Swiper -->
                    <div class="carousel-container" id="carousel-{{typeName}}">
                        {{#forEach imgList}}
                            <div class="swiper-wrapper">
                                <div class="swiper-slide" style="background-size: cover;background-image:url({{ ../../root }}/{{imgUrl}})"></div>
                            </div>
                        {{/forEach}}
                        <!-- Add Pagination -->
                        <div class="swiper-pagination"></div>
                    </div>
                    <div class="summary">
                        <p>{{typeName}} Fashion</p>
                        <p>{{seasonName}}</p>
                    </div>
                </div>
            </div>

        {{/forEach}}
    </div>
</div>


<script type="text/javascript">
    function changeType(type) {
        var thumbs = $('.thumb'),
            carousels = $('.carousel');
        for(var i = 0; i < thumbs.length; i++) {
            $this = $(thumbs[i]);
            if ($this.hasClass(type)) {
                $this.fadeIn(200);
            } else {
                $this.hide();
            }
        }
        for(var i = 0; i < carousels.length; i++) {
            $this = $(carousels[i]);
            $this.removeClass('hack');
            if ($this.hasClass(type)) {
                $this.parent().show();
                $this.fadeIn(200);
            } else {
                $this.parent().hide();
                $this.hide();
            }
        }
        $('.cat-item').each(function(index, item) {
            if($(item).attr('data-cat') == type) {
                $(item).addClass('active');
            } else {
                $(item).removeClass('active');
            }
        })
    }
    $(function() {
        var swiperBanner = new Swiper('.banner-container', {
            pagination: '.swiper-pagination',
            paginationClickable: '.swiper-pagination',
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            spaceBetween: 30,
            effect: 'fade',
            autoplay: 2500,
            autoplayDisableOnInteraction: false
        });
        {{#forEach productList}}
            new Swiper('#carousel-{{typeName}}', {
                pagination: '.swiper-pagination',
                paginationClickable: true,
                direction: 'vertical',
                grabCursor: true,
                mousewheelControl: true
            });
        {{/forEach}}

    })
</script>
