<link href="/css/jquery.fancybox.min.css" rel="stylesheet">
<link href="/css/pager.css" rel="stylesheet">
<div class="product-page">
    <!-- Swiper -->
    <div class="banner-container">
        <div class="swiper-wrapper">
            {{#forEach bannerPics}}
                <div class="swiper-slide" style="background-position: top left;background-size: cover;background-image:url({{ ../root }}/{{ path }})"></div>
            {{/forEach}}
        </div>
    </div>
    <div class="product-content">
        <div class="product-type">
            <div style="position:relative;">
                <a href="javascript:;" id="btnProduct">产品</a>
                <ul class="menu type-list" style="display: none;">
                    {{#forEach typeList}}
                        {{#if isFirst}}
                        <li class="type-item active" data-type="{{id}}" data-cn="{{typeName}}">
                        {{else}}
                        <li class="type-item" data-type="{{id}}" data-cn="{{typeName}}">
                        {{/if}}
                            <a href="javascript:;">{{typeEnName}}</a>
                        </li>
                    {{/forEach}}
                </ul>
            </div>
            <div class="split">|</div>
            <div style="position:relative;">
                <a href="javascript:;" id="btnSeason">系列</a>
                <ul class="menu" id="season-list" style="display: none;">
                    {{#forEach seasonList}}
                        {{#if isFirst}}
                        <li class="season-item active" data-season="{{id}}">
                        {{else}}
                        <li class="season-item" data-season="{{id}}">
                        {{/if}}
                            <a href="javascript:;">{{name}}&nbsp;&nbsp;</a>
                        </li>
                    {{/forEach}}
                </ul>
            </div>
        </div>
        <div class="image-container">
            {{#forEach productList.result}}
                <div class="image-cell">
                    <div class="image" style="background-image:url('{{ ../root }}/{{imgUrl}}')"></div>
                    {{!-- <div class="text">
                        <span>OVERSIZED COTTON PARKA</span>
                    </div> --}}
                </div>
            {{/forEach}}
            {{!-- <div class="image-cell">
                <div class="image"></div>
                <div class="text">
                    <span>OVERSIZED COTTON PARKA</span>
                </div>
            </div> --}}
        </div>
        <div class="product-footer">
            <div class="footer-cell">
                <div class="product-title-list">
                    <ul class="type-list">
                        {{#forEach typeList}}
                            {{#if isFirst}}
                            <li class="type-item active" data-type="{{id}}" data-cn="{{typeName}}">
                            {{else}}
                            <li class="type-item" data-type="{{id}}" data-cn="{{typeName}}">/
                            {{/if}}
                                <a href="javascript:;">{{typeEnName}}</a>
                            </li>
                        {{/forEach}}
                    </ul>
                </div>
            </div>
            <div class="footer-cell last">
                <div class="pagination-wrapper">
                    <ul class="page" maxshowpageitem="5" pagelistcount="10"  id="page"></ul>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="/js/jquery.ba-hashchange.js"></script>
<script src="/js/jquery.fancybox.min.js"></script>
<script src="/js/pager.js"></script>
<script type="text/javascript">
$(function() {

    $("#btnProduct").mouseover(function() {
        $("#type-list").show();
    })
    $("#btnProduct").mouseout(function() {
        $("#type-list").hide();
    })

    $("#type-list").mouseover(function() {
        $("#type-list").show();
    })
    $("#type-list").mouseout(function() {
        $("#type-list").hide();
    })

    $("#btnSeason").mouseover(function() {
        $("#season-list").show();
    })
    $("#btnSeason").mouseout(function() {
        $("#season-list").hide();
    })

    $("#season-list").mouseover(function() {
        $("#season-list").show();
    })
    $("#season-list").mouseout(function() {
        $("#season-list").hide();
    })

    $("#page").initPage(71, 1, function(page) {
        console.warn(page, 'page..')
    });

    $('.type-list').delegate('li', 'click', function() {
        var typeId = $(this).attr('data-type');
        $('.type-item.active').removeClass('active');
        $(this).addClass('active');
        $.ajax({
            type: 'get',
            url: '{{root}}/front/product/querySeasonList?type=' + typeId,
            dataType: 'jsonp',
            jsonp: "jsoncallback",
            success: function(data) {
                var seasonList = data.data,
                    seaContont = '';
                $.each(seasonList, function(idx, season) {
                    if (!idx) {
                        seaContont += '<li class="season-item active" data-season="' + season.id + '"><a href="javascript:;">' + season.name + '&nbsp;&nbsp;</a></li>'
                    } else {
                        seaContont += '<li class="season-item" data-season="' + season.id + '"><a href="javascript:;">' + season.name + '&nbsp;&nbsp;</a></li>'
                    }
                })
                $('#season-list').html(seaContont);
            },
            error: function() {
                alert('fail');
            }
        });
        $.ajax({
            type: 'get',
            url: '{{root}}/front/product/queryImgListByPage?pageSize=9&type=' + typeId,
            dataType: 'jsonp',
            jsonp: "jsoncallback",
            success: function(result) {
                var data = result.data;
                if (result.success) {
                    var productList = '';
                    $.each(data.result, function(idx, product) {
                        console.warn('root', '{{ root }}')
                        var root = '{{ root }}',
                            url =  root + '/' + product.imgUrl;
                        console.warn(url)
                        productList += '<div class="image-cell">' +
                                            '<div class="image" style="background-image:url('+ url + ')"></div>' +
                                        '</div>';
                    })
                    $('.image-container').html(productList);
                    console.warn(data, '...')
                } else {
                    alert('该类目下无产品.')
                }

            },
            error: function() {
                alert('fail');
            }
        });
    })
    $('#season-list').delegate('li', 'click', function() {
        var seasonId = $(this).attr('data-season'),
            typeId = $('.type-item.active').attr('data-type');
        $('#season-list li').removeClass('active');
        $(this).addClass('active');
        $.ajax({
            type: 'get',
            url: '{{root}}/front/product/queryImgListByPage?pageSize=9&type=' + typeId + '&season=' + seasonId,
            dataType: 'jsonp',
            jsonp: "jsoncallback",
            success: function(result) {
                var data = result.data;
                if (result.success) {
                    console.warn(data, '2222')
                } else {
                    alert('该系列下无产品.')
                }
            },
            error: function() {
                alert('fail');
            }
        });
    })
    $(window).hashchange( function(){
        var hash = location.hash,
            cnName = hash.replace('#', '');

        $('.type-item').each(function(index, item) {
            var cn = $(this).attr('data-cn');
            if (cnName == cn) {
                $(this).trigger('click');
            }
        })
    })
    $(window).hashchange();
})
</script>
