<div class="product-page">
    <div class="left-wrapper">
        <div class="title">产品</div>
        <div class="type">
            <ul>
                {{#forEach typeList}}
                {{#if isFirst}}
                <li class="type-item active">
                {{else}}
                <li class="type-item">
                {{/if}}
                    <a href="javascript:;">{{typeEnName}}</a>
                </li>
                {{/forEach}}
            </ul>
        </div>
        <div class="season">
            <ul>
                {{#forEach seasonList}}
                {{#if isFirst}}
                <li class="type-item active">
                {{else}}
                <li class="type-item ">
                {{/if}}
                    <a href="javascript:;">{{name}}</a>
                </li>
                {{/forEach}}
            </ul>
        </div>
        <div class="cover" style='background-image: url("{{root}}/{{firstProduct.imgUrl}}");'></div>
    </div>
    <div class="right-wrapper">
        <div class="product-container">
            <div class="swiper-wrapper">
                {{#forEach firstProduct.imgList}}
                    <div class="swiper-slide" style="background-image:url({{ ../root }}/{{ imgUrl }})"></div>
                {{/forEach}}
            </div>
        </div>
        <div class="swiper-pagination swiper-pagination-white product-pagination"></div>
    </div>
</div>

<script type="text/javascript">
    $(function() {
        new Swiper('.product-container', {
            pagination: '.product-pagination',
            paginationClickable: true,
            direction: 'vertical'
        });
    })
</script>
