<link href="/css/jquery.fancybox.min.css" rel="stylesheet">
<div class="product-page">
    <div class="left-wrapper">
        <div class="title">产品</div>
        <div class="type">
            <ul id="type-list">
                {{#forEach typeList}}
                    {{#if isFirst}}
                    <li class="type-item active" data-type="{{id}}" data-cn="{{typeName}}">
                    {{else}}
                    <li class="type-item" data-type="{{id}}" data-cn="{{typeName}}">
                    {{/if}}
                        <a href="javascript:;">{{typeEnName}}</a>
                    </li>
                {{/forEach}}
            </ul>
        </div>
        <div class="season">
            <ul id="season-list">
                {{#forEach seasonList}}
                {{#if isFirst}}
                <li class="season-item active" data-season="{{id}}">
                {{else}}
                <li class="season-item " data-season="{{id}}">
                {{/if}}
                    <a href="javascript:;">{{name}}</a>
                </li>
                {{/forEach}}
            </ul>
        </div>
        <a id="cover-prew" href="{{root}}/{{firstProduct.imgUrl}}">
            <div class="cover" style='background-image: url("{{root}}/{{firstProduct.imgUrl}}");'></div>
        </a>
    </div>
    <div class="right-wrapper">
        <div class="product-container">
            <div class="swiper-wrapper">
                {{#forEach firstProduct.imgList}}
                <div class="swiper-slide" style="background-size: contain;background-image:url({{ ../root }}/{{ imgUrl }})"></div>
                {{/forEach}}
            </div>
        </div>
        <div class="swiper-pagination swiper-pagination-white product-pagination"></div>
    </div>
</div>
<script src="/js/jquery.ba-hashchange.js"></script>
<script src="/js/jquery.fancybox.min.js"></script>
<script type="text/javascript">
$(function() {
    var productSwiper = new Swiper('.product-container', {
        pagination: '.product-pagination',
        paginationClickable: true,
        direction: 'vertical',
        grabCursor: true,
        mousewheelControl: true
    });
    $("#cover-prew").fancybox({
        'transitionIn'  : 'elastic',
        'transitionOut' : 'elastic',
        'titlePosition' : 'inside'
    });
    $('#type-list').delegate('li', 'click', function() {
        var typeId = $(this).attr('data-type');
        $('.type-item.active').removeClass('active');
        $(this).addClass('active');
        $.ajax({
            type: 'get',
            url: '{{root}}/front/product/querySeasonList?type=' + typeId,
            dataType: 'jsonp',
            jsonp: "jsoncallback",
            success: function(data) {
                var seasonList = data.data,
                    seaContont = '';
                $.each(seasonList, function(idx, season) {
                    if (!idx) {
                        seaContont = '<li class="season-item active" data-season="' + season.id + '"><a href="javascript:;">' + season.name + '</a></li>'
                    } else {
                        seaContont += '<li class="season-item" data-season="' + season.id + '"><a href="javascript:;">' + season.name + '</a></li>'
                    }
                })
                $('#season-list').html(seaContont);
            },
            error: function() {
                alert('fail');
            }
        });
        $.ajax({
            type: 'get',
            url: '{{root}}/front/product/queryProduct?type=' + typeId,
            dataType: 'jsonp',
            jsonp: "jsoncallback",
            success: function(result) {
                var data = result.data;
                if (result.success) {
                    $('#cover-prew').attr('href', '{{root}}/' + data.imgUrl)
                    $('.cover').css('background-image', data.imgUrl)

                    // image list
                    // $('.right-wrapper').empty();
                    productSwiper.removeAllSlides();
                    $.each(data.imgList, function(idx, obj) {
                        productSwiper.appendSlide('<div class="swiper-slide" style="background-image:url({{ root }}/' + obj.imgUrl + '"></div>')
                    })
                } else {
                    alert('该类目下无产品.')
                }

            },
            error: function() {
                alert('fail');
            }
        });
    })
    $('#season-list').delegate('li', 'click', function() {
        var seasonId = $(this).attr('data-season'),
            typeId = $('.type-item.active').attr('data-type');
        $.ajax({
            type: 'get',
            url: '{{root}}/front/product/queryProduct?type=' + typeId + '&season=' + seasonId,
            dataType: 'jsonp',
            jsonp: "jsoncallback",
            success: function(result) {
                var data = result.data;
                if (result.success) {
                    $('#cover-prew').attr('href', 'url({{root}}/' + data.imgUrl + ')')
                    $('.cover').css('background-image', data.imgUrl)
                    // image list
                    // $('.right-wrapper').empty();
                    productSwiper.removeAllSlides();
                    $.each(data.imgList, function(idx, obj) {
                        productSwiper.appendSlide('<div class="swiper-slide" style="background-image:url({{ root }}/' + obj.imgUrl + '"></div>')
                    })
                } else {
                    alert('该季节下无产品.')
                }
            },
            error: function() {
                alert('fail');
            }
        });
    })
    $(window).hashchange( function(){
        var hash = location.hash,
            cnName = hash.replace('#', '');

        $('.type-item').each(function(index, item) {
            var cn = $(this).attr('data-cn');
            if (cnName == cn) {
                $(this).trigger('click');
            }
        })
    })
    $(window).hashchange();
})
</script>
