<div class="show-page">
    <div class="banner-container">
        <div class="swiper-wrapper">
            {{#forEach bannerPics}}
                <div class="swiper-slide" style="background:url({{ ../root }}/{{ path }}) center top no-repeat fixed"></div>
            {{/forEach}}
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination swiper-pagination-white"></div>
    </div>
    <div class="season-name">
        {{seasonName}}
    </div>
    <div class="image-list">
        <div class="image-container">
            <div class="swiper-wrapper">
                {{#forEach middleShowList}}
                <div class="swiper-slide enlarged-pic" style="background-size:cover;background-image:url({{ ../root }}/{{ image }})" onclick="magnify('{{@index}}')"></div>
                {{/forEach}}
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="review-title">
        往期回顾
    </div>
    <div class="review-list">
        {{#forEach oldShowList}}
        <div class="review-item">
            <a href="/show/{{seasonId}}">
                <div class="review-pic" style="background-size: cover;background-image:url({{ ../root }}/{{ image }})"></div>
                <div class="review-name">{{showSeason}}</div>
            </a>
        </div>
        {{/forEach}}
    </div>

    <script type="text/javascript">
        var swiperImage;
        $(function() {
            var swiperBanner = new Swiper('.banner-container', {
                pagination: '.swiper-pagination',
                paginationClickable: '.swiper-pagination',
                spaceBetween: 30,
                autoplay: 2500,
                autoplayDisableOnInteraction: false
            });
            swiperImage = new Swiper('.image-container', {
                pagination: '.swiper-pagination',
                paginationClickable: '.swiper-pagination',
                paginationClickable: true,
                slidesPerView: 3,
                spaceBetween: 244,
                grabCursor: true,
                preventLinksPropagation : false
            });


        })
        function magnify(index) {

            if ($('.enlarged-pic').eq(index).hasClass('active')) {
                for (var i = 0; i < $('.enlarged-pic').length; i++) {
                    $('.enlarged-pic').eq(i).removeClass('active');
                    $('.enlarged-pic').eq(i).removeClass('none-active');
                }
            } else {
                for (var i = 0; i < $('.enlarged-pic').length; i++) {
                    $('.enlarged-pic').eq(i).removeClass('active');
                    $('.enlarged-pic').eq(i).addClass('none-active');
                }
                $('.enlarged-pic').eq(index).addClass('active');
                $('.enlarged-pic').eq(index).removeClass('none-active');
            }
        }
    </script>
</div>
